.container_slide .form {
    display: flex;

    flex-direction: column;
}

.form > div {
    display: flex;

    flex-direction: column;

    justify-content: space-around;
    

    margin-left: 50px;
    margin-right: 50px;

}